<div [formGroup]="parentForm">
    <div class="row">
        <div *ngIf="label"  [ngClass]="{ 'col-4': label }">
            <span>{{label}}</span>
        </div>
        <div [ngClass]="{ 'col-8': label, 'col-12': !label }">
            <input
            [ngClass]="validate ? { 'is-valid': this.parentForm.get(this.keyInput)?.valid,
            'is-invalid':  !this.parentForm.get(this.keyInput)?.valid && this.parentForm.get(this.keyInput)?.touched }: {}"
            type="text"
            class="form-control"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [formControlName]="keyInput"
            currencyMask
            [options]="{
                            prefix: currencySing,
                            thousands: thousandsSeparator,
                            precision: decimalPrecision,
                            align: 'left',
                            decimal: decimalSeparator 
                        }"
            (change)="change($event)">
        </div>
    </div>
    <br *ngIf="br">
</div>